{% extends "blog/base.html" %}
<!-- .... -->
{% block content %}
<main>
    <div class="container">

        <div class="container marketing">

            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-7 mt-4 mb-4">
                    <h1 class="featurette-heading text-center">Casey R. Quinn <span class="text-muted">
                            <div>
                                <h2 class="text-muted mt-2">
                                    Full Stack Web Developer
                                </h2>
                            </div>
                        </span></h1>
                    <p class="lead">Please make an account and join the community! I am a passionate developer with
                        interests in web development, AI, computer
                        graphics, and cybersecurity.</p>
                </div>
                <div class="col-md-5 mt-4 mb-4">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail"
                        width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <image class="images_about" href="../media/profile_pics/webResult 2.JPG" width="100%"
                            height="100%" />
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2 mt-4 mb-4">
                    <h2 class="featurette-heading text-center">Texas A&M University<span class="text-muted">
                            <div>
                                <h2 class="text-muted mt-2">
                                    Computer Science, 2023
                                </h2>
                            </div>
                        </span></h2>
                    <p class="lead">I am an honors student tracked to graduate in December, 2023. I am open to work
                        and currently looking for opportunities in software development.
                    </p>
                </div>
                <div class="col-md-5 order-md-1 mt-4 mb-4">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail"
                        width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <image class="images_about" href="../media/profile_pics/webResult 3.JPG" width="100%"
                            height="100%" />
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 mt-4 mb-4">
                    <h2 class="featurette-heading text-center">Interests / Hobbies <span class="text-muted">
                            <div>
                                <h3 class="text-muted mt-2">
                                    What do I do in my free time?
                                </h3>
                            </div>
                        </span></h2>
                    <p class="lead">I am a fitness enthusiast with a focus on bodybuilding. I also enjoy climbing
                        mountains,
                        hiking,
                        reading historical fiction and psychology, spending time with my family/friends/girlfriend, and
                        walking
                        my pup Bebop.
                    </p>
                </div>
                <div class="col-md-5 mt-4 mb-4">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-thumbnail"
                        width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                        aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <image class="images_about" href="../media/profile_pics/webResult 4.JPG" width="100%"
                            height="100%" />

                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
    </footer>
</main>
{% endblock content %}